.grid-container {
       display: flex;

}

.eachRow {
   /*background-color: gray;*/
   display: flex;
}

.col-md-6 {
    height: 200px;
    width: 200px;
    display: flex;
    border: 1px solid black
}

h1, #turnAnnouncer {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    display: flex;
}

.red {
  background-color: red !important;
}

.green {
  background-color: green !important;
}

.grey {
  background-color: grey;
}
.leftHalf { 
  width: 20%; 
  float: left;
}

.rightHalf { 
  width: 80%; float: left; 
}

#howToBullets {
  font-family: 'Open Sans', sans-serif;
}
.nameGame {
 display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
